body:first-of-type .container {
	margin-top: 4rem;
}

.jumbotron {
	background-color: #e5e5ea;
}
.jumbotron p {
	font-size: 1.2rem;
	font-weight: 300;
}

.cards h3 {
	height: 3.5rem;
	margin-bottom: 1.5rem;
}
/* NAV buttons */
button.nav-button {
	margin: 0.5rem;
	background-color: #37df89;
	color: white;
	box-shadow: #0000009a 3px 3px 6px -1px;
	text-shadow: 0px 0px 3px #00000060;
	transition: box-shadow 0.2s, text-shadow 0.2s, margin 0.2s;

}
nav button.nav-button {
		margin-left: 1.3rem;
}
nav {
	width: 100%;
}
	button.nav-button#active {
		/* TODO: #activelle jokin joka ilmoittaa että on aktiivi
		 * sisennä logoa päin?
		 */
	}
	button.nav-button:hover {
		box-shadow: #000000b0 4px 4px 6px -1px;
		text-shadow: 0px 0px 3px #000000b0;
		margin-left: 2rem;
	}

@media (max-width: 768px) {
	#logo {
		display:none;
	}
}

.display-1, .display-2, .display-3, .display-4 {
	text-shadow: 2px 2px 5px #00000080
}

h1, h2, h3, h4, h5 {
	font-weight: lighter;
	text-shadow: 1px 1px 3px #00000090
}

:not(.jumbotron) > p {
	text-shadow: 1px 1px 2px #00000060
}
